{% extends 'base.html' %}

{% block content %}
<div class="page-header">
    <div>
        <h1>Companies</h1>
        <p class="muted-small">Group entities and company codes</p>
    </div>
    {% if session.get('role') in ['admin', 'accountant'] %}
        <a class="button" href="{{ url_for('companies_add') }}">Add company</a>
    {% endif %}
</div>

<div class="card">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Code</th>
            </tr>
        </thead>
        <tbody>
            {% for company in companies %}
            <tr>
                <td>{{ company['name'] }}</td>
                <td><span class="entity-tag">{{ company['company_type'] }}</span></td>
                <td><span class="company-code-inline">{{ company['code'] }}</span></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
